body {
	left: 0;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	@include transition(linear all 400ms);
	position: relative;
	height: 100vh;
	color: $black;
	background-color: $bg-body;
	font-size: 14px;
	overflow: hidden;
	&.open {
		right: 0;
		overflow-x: hidden;
		.content-area {
			overflow-x: hidden;
		}
		.navbar {
			position: fixed;
			margin-left: -280px;
			margin-right: 280px;
			z-index: 4;
		}
		&:before {
				content: "";
				position: fixed;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.8);
				z-index: 4;
		}
	}
}
.row {
	&.gutters-60 {
		margin-left: -30px;
		margin-right: -30px;
		div[class*="col-"] {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
.g-recaptcha {
	display: inline-block;
}
img {
	max-width: 100%;
}
hr {
	width: 100%;
	margin: 0 0 38px 0;
}
.content-area {
	position: relative;
	padding-top: 92px;
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	.main {
		height: auto;
	}
}

.title {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $grey-light4;
	padding-bottom: 10px;
	margin-bottom: 30px;
	position: relative;
	&::after {
		content: "";
		width: 24px;
		height: 2px;
		background-color: $primary;
		position: absolute;
		left: 0;
		bottom: -1.5px;
	}
	.btn {
		height: 30px;
	}
	h2 {
		font-size: 14px;
		font-weight: 400;
		color: $primary;
		text-transform: uppercase;
		margin: 0;
	}
}

.box-wrapper {
	background-color: $white;
	height: 76vh;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
	box-shadow: 0px 0px 5px 0px rgba(173,173,173,1);
	margin-top: 20px;
	@media (max-width: 1600px) {
		height: 72vh;
	}
	@media (max-width: 1440px) {
		height: 69vh;
	}
	@media (max-width: 1366px) {
		height: 67vh;
	}
	@media (max-width: 1280px) {
		height: 65vh;
	}
	.head-box {
		position: relative;
		padding-bottom: 20px;
		border-bottom: 1px solid $grey-1;
		margin-bottom: 15px;
		h2 {
			font-size: 18px;
			color: $grey-2;
			font-weight: 500;
			margin: 0;
			line-height: 24px;
		}
		.btn {
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}
.scrollable {
	height: 94%;
	@media (max-width: 1600px) {
		height: 93%;
	}
	@media (max-width: 1440px) {
		height: 92%;
	}
	@media (max-width: 1366px) {
		height: 91%;
	}
	@media (max-width: 1280px) {
		height: 90%;
	}
}
.simplebar-track.simplebar-vertical {
	width: 6px;
}
.simplebar-track {
	background-color: #dedede;
}
.simplebar-scrollbar::before {
  background-color: #16B9F6;
  border-radius: 2px;
  width: 4px;
}
.simplebar-scrollbar {
	background-color: #16B9F6;
}
