<nav class="navbar navbar-expand-lg fixed-top nav">
	<div class="container-fluid ">
	  <a class="navbar-brand" href="#banner"><img src="./dist/images/logo.png" alt="logo"></a>
	  <!-- <button class="navbar-toggler js-mobile-button" type="button">
	    <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
	  </button> -->
  </div>
</nav>