{% set page_id = "Home" %}
{% extends "layout.html" %}
{% block content %}
<div class="main">
	<div class="title">
		<h2>Digital Events</h2>
		<a href="#" class="btn btn-primary btn-sm icon" data-toggle="modal" data-target="#modalUpload"><span class="material-icons-outlined">add_circle_outline</span> Create New Booking</a>
	</div>
	<nav>
	  <div class="nav nav-tabs" id="nav-tab" role="tablist">
	    <a class="nav-item nav-link active" id="nav-logos-tab" data-toggle="tab" href="#nav-logos" role="tab" aria-controls="nav-logos" aria-selected="true">Scheduled Events</a>
	    <a class="nav-item nav-link" id="nav-style-tab" data-toggle="tab" href="#nav-style" role="tab" aria-controls="nav-style" aria-selected="false">Completed Events</a>
	  </div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
	  <div class="tab-pane fade show active" id="nav-logos" role="tabpanel" aria-labelledby="nav-logos-tab">
	  	<div class="box-wrapper">
	  		<table class="table">
				<thead>
					<tr>
						<th class="col-title">Event Id</th>
						<th class="col-title">Event Date</th>
						<th class="col-title">Event Start Time</th>
						<th class="col-title">Event Title</th>
						<th class="col-title">Registration</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table">
					<tbody>
						<tr>
							<td class="col-title">
								12345
							</td>
							<td class="col-title">
								23rd Oktober 2018
							</td>
							<td class="col-title">
								11:00 am AEDT
							</td>
							<td class="col-title">
								Make 2019 Rock: Tips for Planning Your Digital Event Programs
							</td>
							<td class="col-title">
								145
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">edit</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								23415
							</td>
							<td class="col-title">
								24rd Oktober 2018
							</td>
							<td class="col-title">
								12:00 am AEDT
							</td>
							<td class="col-title">
								Freelancer Masterclass Benefits. Make money freelancing | How to make money as a freelancer
							</td>
							<td class="col-title">
								321
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">edit</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								21234
							</td>
							<td class="col-title">
								25rd Oktober 2018
							</td>
							<td class="col-title">
								01:00 am AEDT
							</td>
							<td class="col-title">
								What would you do? How honest are you with your clients
							</td>
							<td class="col-title">
								432
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">edit</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								45321
							</td>
							<td class="col-title">
								27rd Oktober 2018
							</td>
							<td class="col-title">
								03:00 am AEDT
							</td>
							<td class="col-title">
								Three Things ou Must Do Every Time You're Assigned Freelance Work
							</td>
							<td class="col-title">
								213
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">edit</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								51234
							</td>
							<td class="col-title">
								30rd Oktober 2018
							</td>
							<td class="col-title">
								04:00 am AEDT
							</td>
							<td class="col-title">
								My New Favorite Way to Find Clients in 2020 and Beyond
							</td>
							<td class="col-title">
								324
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">edit</i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	  <div class="tab-pane fade" id="nav-style" role="tabpanel" aria-labelledby="nav-style-tab">
	  	<div class="box-wrapper">
	  		<table class="table complete-even">
				<thead>
					<tr>
						<th class="col-title">Event Id</th>
						<th class="col-title">Event Date</th>
						<th class="col-title">Event Start Time</th>
						<th class="col-title">Event Title</th>
						<th class="col-action">Action</th>
					</tr>
				</thead>
			</table>
			<div  class="scrollable" data-simplebar data-simplebar-auto-hide="false">
				<table class="table complete-even">
					<tbody>
						<tr>
							<td class="col-title">
								12345
							</td>
							<td class="col-title">
								23rd Oktober 2018
							</td>
							<td class="col-title">
								11:00 am AEDT
							</td>
							<td class="col-title">
								Make 2019 Rock: Tips for Planning Your Digital Event Programs
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons">pie_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">help_outline</i></a>
								<a href="#" class="btn-action"><i class="material-icons">insert_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">chat</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								21345
							</td>
							<td class="col-title">
								22rd Oktober 2018
							</td>
							<td class="col-title">
								11:00 am AEDT
							</td>
							<td class="col-title">
								Three Things ou Must Do Every Time You're Assigned Freelance Work
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons">pie_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">help_outline</i></a>
								<a href="#" class="btn-action"><i class="material-icons">insert_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">chat</i></a>
							</td>
						</tr>
						<tr>
							<td class="col-title">
								32145
							</td>
							<td class="col-title">
								25rd Oktober 2018
							</td>
							<td class="col-title">
								10:00 am AEDT
							</td>
							<td class="col-title">
								My New Favorite Way to Find Clients in 2020 and Beyond
							</td>
							<td class="col-action">
								<a href="#" class="btn-action"><i class="material-icons">pie_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">group</i></a>
								<a href="#" class="btn-action"><i class="material-icons">help_outline</i></a>
								<a href="#" class="btn-action"><i class="material-icons">insert_chart</i></a>
								<a href="#" class="btn-action"><i class="material-icons-outlined">chat</i></a>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
	  	</div>
	  </div>
	</div>
</div>


{% endblock %}
{% block script %}
{% endblock %}