.form-group {
	&::after {
		content: "";
		display: block;
		clear: both;
	}
	.pict {
		float: left;
		width: 80px;
		height: 80px;
		overflow: hidden;
		margin-right: 10px;
	}
	.file-photo {
		float: left;
		width: auto;
		margin-top: 45px;
	}
	.custom-file-label {
		border-color: $color-border;
		&::after {
			right: initial;
			top: 3px;
			left: 3px;
			height: 27px;
			border: none;
			border-radius: 3px;
			line-height: 16px;
			font-weight: 400;
			color: $white;
			background-color: $primary;
		}
	}
	.form-control {
	  border-radius: 5px;
	  height: 40px;
	  border-color: $color-border;
		&::-webkit-input-placeholder { /* Edge */
		  color: $color-placeholder;
		}

		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: $color-placeholder;
		}

		&::placeholder {
		  color: $color-placeholder;
		}
	}
	label {
	  font-weight: 500;
	  display: block;
	  &.white {
	    color: $white;
	  }
	}
}