.nav-tabs {
	.nav-link {
		background-color: transparent;
		border-top: none;
		border-left: 1px solid $grey-light4 !important;
		border-bottom: 3px solid transparent;
		border-radius: 0;
		color: $grey-2;
		width: 225px;
		position: relative;
		font-size: 14px;
		padding-left: 8px;
		padding-right: 5px;
		font-weight: 500;
		@media (max-width: 1440px) {
			width: 20%;
		}
		@media (max-width: 1280px) {
			font-size: 12px;
		}
		&:last-child {
			border-right: 1px solid $grey-light4 !important;
		}
		> span {
			position: absolute;
			top: 6;
			right: 6px;
			font-size: 22px;
		}
		&.active {
			background-color: transparent;
			border: none;
			border-bottom: 2px solid $primary;
			color: $primary;
			font-weight: 600;
		}
	}
	.nav-item {
		&.show {
			.nav-link {
				background-color: transparent;
			}
		}
	}
}
.tab-content {
	height: 100%;
	.tab-pane {
		height: 100%;
	}
}