.table {
	margin-bottom: 0;
	thead {
		tr {
			th {
				border-top: none;
				font-weight: 600;
				text-transform: uppercase;
				font-size: 12px;
				color: $grey-2;
				&.col-action {
					text-align: center;
					width: 25%;
				}
				&:first-child {
					width: 8%;
				}
				&:nth-child(2) {
					width: 13%;
				}
				&:nth-child(3) {
					width: 13%;
				}
				&:nth-child(5) {
					width: 12%;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				vertical-align: top;
				padding: 15px 10px;
				&.col-action {
					text-align: center;
					width: 25%;
				}
				&:first-child {
					width: 8%;
					color: $primary;
				}
				&:nth-child(2) {
					width: 13%;
				}
				&:nth-child(3) {
					width: 13%;
				}
				&:nth-child(4) {
						font-weight: 500;
					}
				&:nth-child(5) {
					width: 12%;
				}
				p {
					color: $grey-2;
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 0;
				}
				a {
					color: $primary;
					font-size: 14px;
					line-height: 14px;
					margin-bottom: 0;
				}
			}
			&:first-child {
				td {
					border-top: none;
				}
			}
			&:last-child {
				td {
					border-bottom: 1px solid $grey;
				}
			}
		}
	}
	&.complete-even {
		thead {
			tr {
				th {
					border-top: none;
					font-weight: 600;
					text-transform: uppercase;
					font-size: 12px;
					color: $grey-2;
					&.col-action {
						text-align: center;
						width: 36%;
					}
					&:first-child {
						width: 8%;
					}
					&:nth-child(2) {
						width: 13%;
					}
					&:nth-child(3) {
						width: 13%;
					}
				}
			}
		}
		tbody  {
		    tr {
				td {
					vertical-align: top;
					padding: 15px 10px;
					&.col-action {
						text-align: center;
						width: 36%;
					}
					&:first-child {
						width: 8%;
						color: $primary;
					}
					&:nth-child(2) {
						width: 13%;
					}
					&:nth-child(3) {
						width: 13%;
					}
					&:nth-child(4) {
						font-weight: 500;
					}
					p {
						color: $grey-2;
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 0;
					}
					a {
						color: $primary;
						font-size: 14px;
						line-height: 14px;
						margin-bottom: 0;
					}
				}
			}
		}
	}}